/* h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
} */

/* Table Styles */



.table-wrapper{
    margin: 0vw 4vh 4vw;
    box-shadow: 10px 35px 50px rgba(255, 255, 255, 0.206);
}

.fl-table {
    /* border-radius: 30px; */
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: rgb(229, 229, 229);
    font-family:"Calibri", sans-serif;
    opacity: 0.9;

}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 1.2vh;
}

.fl-table td {
    border-right: 2px solid #545454;
    font-size: 13px;
}

.fl-table thead th {
    color: #ffffff;
    background: #ffdfee;
    border-right: 2px solid #545454;
    text-shadow: 4px 4px 5px  rgb(0, 0, 0);
    

}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    text-shadow: 4px 4px 5px  rgb(0, 0, 0);
    background: #ffdfee;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}









#WinloseTxt {
    font-family:"Calibri", sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 100px;
    flex: 1;
    text-align: center;
    position: relative;
    font-size: 10px;
    margin-top: 1vh;
    color: aliceblue;
    text-shadow: 4px 6px 10px rgb(255, 0, 149);
  }